body {
    margin: 0;
}

html {  
    font-family: Helvetica, sans-serif;
}

header {
    background-image: url(/Class-April-23/Third_week/Lab3/apple-pie/images/apple-pie.jpg);
    background-size: cover;
    height: 100%;
    padding-top: 250px;
    padding-bottom: 250px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
}

#Description {

    
    align-items: center;
}

#Description p {

    display: inline-flexbox;
    
}

#Description img {
    align-items: center;
    height: 50px;
}