* {
    color: green;
    
}

body {
    background-color:#00D1AE;
}

.menu {
    width: 400px;
    height: 50px;
    background-color: green;
}

.contenido {
    width: 400px;
    height: 200px;
    background-color: red;
}

.importante {
    font-weight: bold;
}

#cover-box {
    background-color: black;
    color: navy;
    width: 100px;
    height: 50px;
  }